.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  color: rgb(74, 74, 74);
  padding: 1rem;
  text-align: center;
}

.normal{
  padding: 0;
  filter: blur(2px);
}

.highlight {
  color: #d6394c;
}

.loadingContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040205;
}

.loadingText {
  font-size: 2rem;
  letter-spacing: 10px;
}

@media (min-width: 1024px) { 
    .main {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(16, minmax(0, 1fr));
      font-family: 'Josefin Sans', sans-serif;
      font-size: 15px;
      text-align: center;
      color: rgb(74, 74, 74);
    }
    
    .loadingText {
      font-size: 2rem;
      letter-spacing: 10px;
    }
}

@media (min-width: 1280px) { 

    .header {
      font-size: 25px;
    }

}

@media (min-width: 1536px) { 

    .header {
      font-size: 30px;
    }
    
 }
