.quoteContainer {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    padding: 2rem;
    margin: 3rem 1rem;
}

.quoteSection {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quoteText {
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    line-height: 3rem;
}

.countText {
    padding: 2rem 0 2rem 0;
    border-top: 2px solid #4e4e4e;
    border-bottom: 2px solid #4e4e4e;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 2px;
}

.buttonContainer {
    display: flex;
    width: 10em;
    margin: 1rem auto 2rem auto;
    background-color: #161616;
    background-image: url("https://cdn.dribbble.com/users/613197/screenshots/14981389/media/34cda192df7b5433658658d1ee1c8389.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #2c2c2c;
    border: none;
    transition: 0s 2.1s;
    box-shadow:
		0px 6px 10px 0px hsla(0,0%,0%,0.14), 
		0px 1px 18px 0px hsla(0,0%,0%,0.12), 
		0px 3px 5px -1px hsla(0,0%,0%,0.2);

}

.buttonText {
    color: #e1e1e1;
    font-size: 18px;
    letter-spacing: 2px;
}

.button:active {
    transition: 0s;
    opacity:0;
}

.socialSection {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    flex-shrink: 1;
	box-shadow:
		0px 16px 24px 2px hsla(0,0%,0%,0.14), 
		0px 6px 30px 5px hsla(0,0%,0%,0.12), 
		0px 8px 10px -5px hsla(0,0%,0%,0.2);
}

.socialHeaderText {
    font-size: 18px;
    letter-spacing: 2px;
    color: #d6394c;
    text-align: center;
}

.formContainer {
    display: flex;
    border-top: 20px solid #161616;
    flex-direction: column;
    padding: 0 1rem 2rem 1rem;
}

.fieldsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.field {
    background-color: #e1e1e1;
    padding: 15px;
    font-size: 16px;
    margin: 0 10px 10px 10px;
    outline: none;
    width: 100%;
    border-radius: 20px;
}

.submitButton {
    background-color: #474747;
    box-shadow:
        0px 24px 38px 3px hsla(0,0%,0%,0.14), 
        0px 9px 46px 8px hsla(0,0%,0%,0.12), 
        0px 11px 15px -7px hsla(0,0%,0%,0.2);
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: auto;
}

.submitIcon {
    width: 60%;
    margin: auto;
    filter: invert(28%) sepia(34%) saturate(3481%) hue-rotate(328deg) brightness(103%) contrast(86%);
}

@media (min-width: 768px) { 
    .quoteContainer {
        width: 90%;
    }

    .field {
        padding: 20px;
        outline: none;
        width: 80%;
    }
 }

 @media (min-width: 1024px) { 

    .quoteContainer {
        flex-direction: row;
    }

    .quoteSection {
        width: 60%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 2rem;
        text-align: start;
    }

    .quoteText {
        font-size: 17px;
        flex-grow: 1;
    }

    .countText {
        border-top: none;
        font-size: 18px;
    }
        
    .buttonContainer {
        margin: 0;
    }

    .socialSection {
        width: 50%;
        padding: 1rem;
    }

    .socialHeaderText {
        text-align: start;
    }

    .formContainer {
        border-top: none;
        flex-direction: row;
        padding: 0;
    }

    .fieldsContainer {
        width: 80%;
        align-items: flex-start;
        margin: auto;
    }

    .field {
        padding: 15px;
        margin: 5px 10px 5px 0;
        width: 100%;
    }

    .submitButton {
        width: 3rem;
        height: 3rem;
    }

    .submitIcon {
        width: 70%;
    }

 }

@media (min-width: 1280px) {  

    .quoteContainer {
        width: 45%;
    }

}

@media (min-width: 1536px) { 

    .quoteContainer {
        width: 28%;
        margin-bottom: 0;
    }

    .quoteText {
        font-size: 20px;
    }

    .socialSection {
        width: 50%;
        padding: 1rem;
    }

    .formContainer {
        flex-grow: 1;
    }

    .fieldsContainer {
        margin-bottom: 0;
    }

    .submitButton {
        margin-bottom: 2rem;
    }
    
 }